/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  padding-top: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #F5F5F5;
}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.table td, .table th {
   text-align: center;   
}

.table tbody > tr > td.vertical-align {
    vertical-align: middle;
}

.table thead th { 
  background-color: #F1F1F1;
  border-bottom: 1px solid hsl(0, 0%, 87%) !important;
}

.vertical-center {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.no-padding:first-child {
  padding-left: 15px;
  padding-right: 0;
}

.no-padding:last-child {
  padding-left: 0;
  padding-right: 15px;
}

.image-margin {
  margin-top: 15px;
  margin-bottom: 15px;
}

a:hover {
  cursor:pointer;
}