<table class="table table-bordered table-striped table-hover transpose">
	<thead>
		<tr>
			<th colspan="2">Buy</th>
			<th colspan="2">Sell</th>
		</tr>
		<tr>
			<th>Volume</th>
			<th>Price</th>
			<th>Volume</th>
			<th>Price</th>
		</tr>
	</thead>
	<tbody>
		{{build-table "order" this.bidOrders this.sellOrders}}
	</tbody>
</table>