<table class="table table-bordered table-striped table-hover">
	<thead>
		<tr>
			<th colspan="2">Buy</th>
			<th colspan="2">Sell</th>
		</tr>
		<tr>
			<th>Volume</th>
			<th>Price</th>
			<th>Volume</th>
			<th>Price</th>
		</tr>
	</thead>
	<tbody>
		{{buildTable}}
	</tbody>
</table>